@import url('https://fonts.googleapis.com/css?family=Cinzel:700|Didact+Gothic');
body {
  font-family: "Didact Gothic", sans-serif;
  font-size: 13px;
}

header{
  height:450px;
  width:100%;
  background-image:url("images/chesshand2/jpg");
  background-size: cover;
  background-position: center;
  background-color: #cccccc;

}

h1 a{
	font-family:"Cinzel", serif;
	font-weight: 700;
	color:#193768;
	font-size: 37px;
	text-align: center;
	text-transform: uppercase;
	padding-top: 200px;

}
